<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nox</title>
    <link rel="stylesheets" type="text/css" href="../../../assets/stylesheets/ciphers.scss">
  </head>
  <body>
    <h1>Nox</h1>
  </body>
</html>

<a href="new_encrypt.html.erb"><h3>Encrypt</h3></a>
<a href="new_decrypt.html.erb"><h3>Decrypt</h3></a>
