<h2>Your Decrypted Message</h2>
<h3> Your Cipher Text</h3>
<p><%= @decrypt.text %></p>
<h3> Your Decrypted Message</h3>
<p><%=  @decrypt.message %></p>

<form method="link" action="/encrypts/new">
  <h1><font color="#F8F8FF"><input type="submit" value="Encrypt Another Message"></font></h1>
</form>