
<html>
  <head>
    <title>Encrypt Your Message!</title>
    <link rel="stylesheets" type="text/css" href="../../../assets/stylesheets/encrypts.css">
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,700,500' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
          <ol class="fs-fields">
            <li class="fs-current">
              <h1>Your Decrypted Message</h1>
              <h2>Your Cipher Text</h2>
              <p><%= @decrypt.text %></p>
            </li>
            <li class>
              <h1>Your Decrypted Message</h1>
              <p><%= @decrypt.message %></p>
            </li>
              <br></br>
              <form method="link" action="/encrypts/new" class: 'fs-submit'>
                <input type="submit" value="Click Here to Encrypt Another Message">
              </form>
          </ol>
        </div>
      </div>
    </div>
  </body>
  </html>
