<!DOCTYPE html>
<html>
  <body background="http://wallpapercave.com/wp/Cp56rKI.png">
  </body>
  <head>
    <meta charset="utf-8">
    <style>
    @font-face { font-family: LumosLatino; src: url('LumosLatino.ttf'); }
    h1 {
      font-family: LumosLatino
    }
    </style>
    <style>
    @font-face { font-family: Maven Pro; src: url('MavenPro-Regular.ttf'); }
    p {
      font-family: Maven Pro
    } 

    </style>
    <title>Nox</title>
    <link rel="stylesheets" type="text/css" href="../../../assets/stylesheets/ciphers.scss">
  </head>
  <body>
    <h1><font color="#F8F8FF"> Nox </font></h1>
  </body>
</html>

<form method="link" action="/encrypts/new">
  <h1><font color="#F8F8FF"><input type="submit" value="Encrypt"></font></h1>
</form>
<form method="link" action="/decrypts/new">
  <h1><font color="#F8F8FF"><input type="submit" value="Decrypt"></font></h1>
</form>



 




