<!DOCTYPE html>
<html>
  <link rel="stylesheets" type="text/css" href="../../../assets/stylesheets/homepages.css">

  <head>
    <meta charset="utf-8">
    <style>
    @font-face { font-family: LumosLatino; src: url('LumosLatino.ttf'); }
    h1 {
      font-family: LumosLatino
    }
    </style>
    <style>
    @font-face { font-family: Maven Pro; src: url('MavenPro-Regular.ttf'); }
    p {
      font-family: Maven Pro
    }
    </style>
    <title>Nox</title>
  </head>
  <body class ="home">
    <h1><font color="#F8F8FF"> Nox </font></h1>
    <p><font color="#F8F8FF"> Send and receive secret messages using a key word</p>
    <form method="link" action="/encrypts/new">
      <input type="submit" id="submit" value="Encrypt">
    </form>
    <form method="link" action="/decrypts/new">
      <input type="submit" id="submit" value="Decrypt">
    </form>
  </body>
</html>
