<h1>Your Encrypted Message</h1>
<h2> Your Original Message</h2>
<p><%= @encrypt.text %></p>
<h2> Your Encrypted Message</h2>
<p><%=  @encrypt.cipher_text %></p>

<form method="link" action="/decrypts/new" class="link2">
  <h1><font color="#F8F8FF"><input type="submit" value="Click Here to Decrypt"></font></h1>
</form>
