<h1>Your Encrypted Message</h1>
<h2> Your Original Message</h2>
<p><%= @encrypt.text %></p>
<h2> Your Encrypted Message</h2>
<p><%=  @encrypt.cipher_text %></p>

<a href="/decrypts/new">Click Here to Decrypt</a>